<div class="container login-container">

    <form class="login-form shadow-lg">

        <h3 class="text-center mb-4">
            Login
        </h3>

        <div class="mb-3">
            <label>Email address</label>

            <input type="email" class="form-control" placeholder="Enter email">
        </div>

        <div class="mb-3">
            <label>Password</label>

            <input type="password" class="form-control" placeholder="Enter password">
        </div>

        <div class="text-end mb-3">
            <a href="#" class="text-secondary">
                Forgot password?
            </a>
        </div>

        <button type="submit" class="btn btn-primary">
            Login
        </button>

        <a href="/" class="btn btn-outline-secondary btn-block mt-2">Về trang chủ</a>
    </form>

</div>