<div class="container login-container">
    <form id="login-content" class="form-content" action="/login" method="POST">
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger" style="color: red; margin-bottom: 15px;">
            <%= error %>
        </div>
    <% } %>

    <div class="mb-3">
        <label>User name</label> <input type="text" class="form-control" id="input-login-username" name="username"
            placeholder="Nhập tên đăng nhập (vd: quocbao)" required>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" id="input-login-password" name="password"
            placeholder="Enter password" required>
    </div>
    <div class="text-end mb-3">
        <a href="#" class="text-secondary text-decoration-none">Forgot password?</a>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>
</div>
