<!-- Login Start -->
<div class="container">
    <div class="row mt-5">
        <div class="col col-lg-12 col-md-6 col-sm-4">
            <div class="section-title mb-0">
                <h4 class="m-0 text-uppercase font-weight-bold">Login</h4>
            </div>
        </div>
    </div>
    <div class="row" style="height: 60vh;">
        <div class="col col-lg-12 col-md-6 col-sm-4">
            <form class=" shadow-lg border border-top-0 p-3">
                <div class="mb-3 ">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <div class="mb-3" style="text-align: end;">
                    <a href="#" class="text-secondary">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary font-weight-medium px-3"
                    style="border-radius: 10px;">Login</button>
                <a href="#" class="btn btn-primary font-weight-medium px-3" style="border-radius: 10px;">Sign up</a>
            </form>
        </div>
    </div>
</div>

<!-- Login End -->